@font-face
{
    font-family: segoe-ui-semibold;
    src: url(fonts/SegoeUISemibold.ttf);
}

@font-face
{
    font-family: press-start-k;
    src: url(fonts/prstartk.ttf);
}

@font-face
{
    font-family: press-start;
    src: url(fonts/prstart.ttf);
}

@font-face
{
    font-family: press-start-2p;
    src: url(fonts/PressStart2P.ttf);
}

@font-face
{
    font-family: mega-man-2;
    src: url(fonts/megaman_2.ttf);
}
*
{
    /*font-family: mega-man-2;*/
    font-family: press-start-k;
    font-weight: normal;
}

li
{
    font-size: 1.0vw;
}

.page-wrapper
{
    width: 96vw;
    margin: 0 auto;
    color: white;
}

#header
{
    width: 100%;
    height: 5vw;
    background-color: yellow;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
    text-transform: uppercase;
}

#header-list
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#header-list>li
{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#header-list>li>ul
{
    position: absolute;
    list-style-type: none;
    padding-top: 1vw;
    padding-left: 0;
    text-align: left;
    display: none;
}

#header-list>li:hover>ul
{
    display: block;
}

.bottom
{
    width: 100%;
    height: 100%;
    /*border: 1px solid black;*/
    background-color: rgb(22,100,226);
}

.main-body
{
    width: 76%;
    margin: 0 auto;
    padding: 2% 0 5% 0
}
.main-body h3
{
    text-transform: uppercase;
}

.main-body h4
{
    font-style: italic;
}

.main-body li
{
    /*padding-left: 1vw;*/
}

#contact-me
{
}

#contact-me-list
{
    list-style-type: none;
    padding: 0;
}

#contact-me li
{
    display: inline-block;
    margin: 0px 10px;
}

#contact-me form
{
    width: auto;
}

#contact-me input,
#contact-me textarea
{
    width: 50%;
    margin-bottom: 5px;
}

.icon
{
    width: 64px;
    height: 64px;
}

fieldset
{
    width: 30%;
}

/*projects.html*/
#project-select
{
    /*border: 1px solid black;*/
    margin: 0 auto;
    /*width: 80vw;*/
    /*height: 60vw;*/
    width: 100%;
    height: 100%;
    background-image: url("images/project-bg.png");
    background-size: cover;
}

#project-select>#headline
{
    padding-top: 1vw;
    text-align: center;
}

#project-select h2
{
    font-size: 1.2vw;
    margin-bottom: 0;
}

#project-gallery
{
    /*border: 1px solid yellow;*/
    width: 84%; /*59.6vw;*/
    margin: 0 auto;
    /*padding-left: 1.2vw;*/
    position: relative;
}

.project-container
{
    /*border: 1px solid yellow;*/
    position: relative;
    height: 9.7vw;
    width: 20.6%;
    margin-top: 0.5%;
    margin-bottom: 4%;
    margin-left: 6%;
    margin-right: 6%;
    display: inline-block;
    float: left;
}

.project-container>.project-pic
{
    /*border: 1px solid red;*/
    position: relative;
    height: 71%;
    width: 100%;
}

.project-container div.project-frame-container
{
    width: 10vw;
    height: auto;
    display: inline-block;
}

.project-container div.project-frame-container>img.project-frame
{
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0%;
    left: 0%;
}

.project-container div.project-frame-container>img.project-frame-blink
{
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0%;
    left: 0%;
    display: none;
}

.project-pic div.project-frame-container>img.show-blink
{
    animation-name: blink;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    display: inherit;
}

@keyframes blink
{
    0%   { opacity: 100; }
    50%  { opacity: 100; }
    51%  { opacity: 0; }
    100% { opacity: 0; }
}

.project-container img.project-img
{
    width: 7.2vw;
    height: auto;
    zindex: 110;
    position: absolute;
    top: 1.1vw;
    right: 1.1vw;
}


.project-container>.project-label
{
    /*border: 1px solid green;*/
    position: absolute;
    height: 29%;
    width: 100%;
    top: 80%;
    /*padding-top: 0.8vw;*/
}

.project-container p
{
    font-size: 1.0vw;
    text-transform: uppercase;
}

:not(.project-label p::first-line)
{
    text-align: right;
}
/*END projects.html*/

/*responsive design - mobile portrait*/
@media screen and (max-device-width: 480px)
{
    div.page-wrapper
    {
       width: 100vw;
    }

    div#header
    {
        font-size: 2em;
    }

    div#bottom
    {
        font-size: 2em;
    }

    div#bottom #contact-me h3,
    div#bottom #contact-me ul
    {
        text-align: center;
    }

    div#bottom #contact-me>form>input
    {
        width: 100%;
        height: 4vh;
        font-size: 1.2em;
    }

    div#bottom #contact-me>form>textarea
    {
        width: 100%;
        font-size: .8em;
    }
    .icon
    {
        margin: auto 2vw;
    }
}
/*END responsive - mobile*/

